@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap');

@theme {
  --color-zinc-950: #161616; /* Carbon Gray 100 */
  --color-zinc-900: #262626; /* Carbon Gray 90 */
  --color-zinc-800: #393939; /* Carbon Gray 80 */
  --color-zinc-700: #525252; /* Carbon Gray 70 */
  --color-zinc-500: #8d8d8d; /* Carbon Gray 50 */
  --color-blue-600: #0f62fe; /* Carbon Blue 60 */
  --color-blue-500: #4589ff; /* Carbon Blue 50 */
  --color-emerald-600: #198038; /* Carbon Green 60 */
  --color-emerald-500: #24a148; /* Carbon Green 50 */
}

/* Reset e Base */
html, body, #root {
  height: 100%;
  background-color: var(--color-zinc-950);
  color: white;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Estilização específica do React Flow para o Draw.io */
.react-flow__background {
  background-color: #09090b;
}

.react-flow__controls button {
  background-color: #18181b;
  fill: #f4f4f5;
  border-bottom: 1px solid #27272a;
}

.react-flow__controls button:hover {
  background-color: #27272a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
